<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="/css/main.css">
    <title>Poolings</title>
</head>
<body>
    <nav class="navbar navbar-light bg-white">
        <div class="LogoName">
                <img src="/img/Logo_vote.svg" class="logo">
                <a class="Name link" href="/">Vote Up</a>
                <a class=" mrgFirst createPool link" href="/createPool">Create Pool</a>
                <a class="mgA createPool link" href="/demo">Demo</a>
                <a class="mgA createPool link" href="/deletePool">Delete Pool</a>
        </div>
        <div>
        <button class="RgButton"><a class="link" href="/register">Register</a></button>
        <button class="LgButton"><a class="link" href="/login">Login</a></button>
        </div>
      </nav>
        <div class="wrapper">
          <div class="mainTheme">
            <h1>Make your pool for</h1>
            <h1>work</h1>
            <h1>It's easy</h1>
            <p>Dive into the world of interactive engagement with our pool community website</p>
            <button class="LgButton">Register</button>
          </div>
          <div>
            <img src="/img/discussion.png" class="discussionImg">
          </div>
          <div class="secondTheme">
              <h1 class="txtColor">Create your poll</h1>
              <h1 class="secondPartText">in seconds</h1>
              <p>Want to ask your friends where to
                 go friday night or arrange a meeting with co-workers? Create a poll - and get answers in no time.</p>
                 <div class="PaddingButton">
                    <button class="LgButton"><a class="link" href="/createPoll">Create a poll</a></button>
                    <button class="LgButton">View Example<a href="/demo"></a></button>
                 </div>
          </div>
        </div>    
</body>
</html>