body {
    background-color: whitesmoke;
}


.LogoName {
    margin-left: 60px;
}

.logo  {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    font-family: 'Roboto Condensed',sans-serif;
    color: #1B1212;
}

.link:hover {
    text-decoration: none;
    color: #1B1212;
}

.Name {
 font-size: 35px;
 text-decoration: none;
 font-family: 'Roboto Condensed',sans-serif;
 color: 1B1212;
}

.mrgFirst {
    margin-left: 50px;
}

.mgA {
    margin-left: 20px;
}

.createPool {
    font-family: 'Roboto Condensed',sans-serif;
}

.createPool:hover {
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 22px;
}

.LgButton {
    border: 1px solid #BA55D3;
    border-radius: 5px;
    background-color: #BA55D3;
    transition: background-color 0.3s ease; /* Add a transition effect to smoothly change the background color */
}

.LgButton > a {
    font-size: 16px;
}



.LgButton:hover {
    border-color: #8A2BE2;
    background-color: #8A2BE2;
}

.RgButton {
    background-color: transparent;
    border-color: transparent;
}

.RgButton:hover > a {
    color: #8A2BE2;
}


.mainTheme {
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 10px;
    
}

.mainTheme > h1 {
    margin-left: 100px;
    font-family: 'Roboto Condensed',sans-serif;
    color: #1B1212;
    font-size: 60px;
}


.mainTheme > button {
    margin-left: 130px;
    margin-top: 35px;
    width: 100px;
    font-family: 'Roboto Condensed',sans-serif;
    color: #1B1212;
    font-size: 20px;
}

.mainTheme > p {
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 25px;
    color: #1B1212;
}


.discussionImg {
    width: 760px;
    margin-left: 20px;
    height: 500px;
    margin-top: 50px;
}


.wrapper {
    background-color: #E5E4E2;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
    width: auto;
    display: grid;
    grid-template-columns: 650px 700px;
}



.image {
    width: 40px;
    height: 40px;
}

.secondTheme > h1 {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 45px;
}



.secondTheme > p {
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    color: #1B1212;
}



.Date {
    font-size: 12px;
}


.secondPartText {
    color: #36454F;
}






.txtColor {
    color: #1B1212;
}

.secondTheme > div > button {
    margin-top: 30px;
    width: 150px;
    font-family: 'Roboto Condensed',sans-serif;
    color: #1B1212;
    font-size: 20px;
}

.PaddingButton {
    margin-left: 150px;
}


.name {
    margin-right: 50px;
}


.secondTheme {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 80px;
    width: 1100px;
    padding: 20px;
}

.image {
    flex-shrink: 0;
    margin-right: 20px;
}


.imageDots {
    /* width: 40px;
    height: 40px; */
    margin-left: 920px;
    
}

.dots-icon {
    font-size: 24px;
}
.dots-icon {
    position: relative;
    display: inline-block;
}

.imageDots {
    font-size: 24px;
    /* cursor: pointer; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dots-icon:hover .dropdown-content {
    display: block;
}


.text {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}


